* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background: white;
    width: 450px;   /* पहले 350px था */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


h1 {
    text-align: center;
    margin-bottom: 20px;
}


input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background: #0056b3;
}


ul li {
    list-style: none;
    background: #eee;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

ul li span {
    float: right;
    cursor: pointer;
    color: red;
}


.completed {
    text-decoration: line-through;
    color: gray;
}

button:last-child {
    background: red;
    margin-top: 10px;
}


button:last-child:hover {
    background: darkred;
}


.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


.filters button {
    flex: 1;
    margin: 2px;
    padding: 5px;
    font-size: 14px;
}


#searchInput {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


